@model scrum_and_xp.ViewModels.MeetingInvitesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Upcoming Meetings</h2>

<p>
    @Html.ActionLink("Create New Meeting Invite", "Create", "UpcomingMeetings")
</p>

<h4>Created Invites</h4>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Option 1 Votes
        </th>
        <th>
            Option 2 Votes
        </th>
        <th>
            Option 3 Votes
        </th>
        <th>
            Replies / Total Invited
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CreatedInvites)
    {
        using (Html.BeginForm("MakeSchedulerEvent", "UpcomingMeetings"))
        {
            @Html.AntiForgeryToken()
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Option1
                    <br />
                    <b>@item.Option1Votes</b>
                    @Html.RadioButton("SelectedTime", item.Option1)
                </td>
                <td>
                    @item.Option2
                    <br />
                    <b>@item.Option2Votes</b>
                    @Html.RadioButton("SelectedTime", item.Option2)
                </td>
                <td>
                    @item.Option3
                    <br />
                    <b>@item.Option3Votes</b>
                    @Html.RadioButton("SelectedTime", item.Option3)
                </td>
                <td>
                    @{ var replies = item.Option1Votes + item.Option2Votes + item.Option3Votes;
                        <b>
                            @replies / @item.TotalInvited
                        </b>
                    }
                </td>
                <td>
                    @Html.Hidden("id", item.Id)
                    <input type="submit" value="Create Meeting" />
                </td>
            </tr>
        }
    }

</table>

<h4>Pending Invites</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UpcomingMeetingViewModels.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpcomingMeetingViewModels.First().Option1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpcomingMeetingViewModels.First().Option2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpcomingMeetingViewModels.First().Option3)
        </th>

        <th></th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.UpcomingMeetingViewModels.Count(); i++)
    {
        using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <tr>
                <td>
                    @Html.DisplayFor(m => Model.UpcomingMeetingViewModels.ElementAt(i).Description)
                </td>
                <td>
                    @Model.UpcomingMeetingViewModels.ElementAt(i).Option1 - @Model.UpcomingMeetingViewModels.ElementAt(i).Option1.AddHours(Model.UpcomingMeetingViewModels.ElementAt(i).Duration.Hours)
                    @Html.RadioButtonFor(m => Model.UpcomingMeetingViewModels.ElementAt(i).SelectedResponse, Model.UpcomingMeetingViewModels.ElementAt(i).Option1)
                </td>
                <td>
                    @Model.UpcomingMeetingViewModels.ElementAt(i).Option2 - @Model.UpcomingMeetingViewModels.ElementAt(i).Option2.AddHours(Model.UpcomingMeetingViewModels.ElementAt(i).Duration.Hours)
                    @Html.RadioButtonFor(modelItem => Model.UpcomingMeetingViewModels.ElementAt(i).SelectedResponse, Model.UpcomingMeetingViewModels.ElementAt(i).Option2)
                </td>
                <td>
                    @Model.UpcomingMeetingViewModels.ElementAt(i).Option3 - @Model.UpcomingMeetingViewModels.ElementAt(i).Option3.AddHours(Model.UpcomingMeetingViewModels.ElementAt(i).Duration.Hours)
                    @Html.RadioButtonFor(modelItem => Model.UpcomingMeetingViewModels.ElementAt(i).SelectedResponse, Model.UpcomingMeetingViewModels.ElementAt(i).Option3)
                </td>
                <td>
                    @Html.HiddenFor(m => Model.UpcomingMeetingViewModels.ElementAt(i).Id)
                    @Html.HiddenFor(m => Model.UpcomingMeetingViewModels.ElementAt(i).Author)
                    @Html.HiddenFor(m => Model.UpcomingMeetingViewModels.ElementAt(i).Duration)



                </td>
                <td><input type="submit" value="Pick time" /> </td>
            </tr>
        }
    }

</table>
@section Scripts{
    <script>

    </script>
}

