@model scrum_and_xp.ViewModels.PostViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>


<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Formal)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostTime)
            </dd>

        </dl>
   

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
