@*@model IEnumerable<scrum_and_xp.Models.FormalPost>*@
@model scrum_and_xp.ViewModels.FormalPostViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Formal</h2>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: new { type = "Formal" })
</p>

@Html.DropDownListFor(m => m.SelectedTypeId, Model.FormalTypes, "Please select formal type", new { @class = "form-control" })
<br />
@Html.DropDownListFor(m => m.SelectedCategoryId, Model.FormalCategories, "Please select formal category", new { @class = "form-control" })
<br />
<a onclick="ResetFilter()" class="btn btn-primary btn-sm">Reset filter</a>
<br />
<br />

<div id="d1">
    @foreach (var item in Model.FormalPosts)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@item.Title</h3>
            </div>
            <div class="panel-body" style="overflow-wrap:break-word">
                <p> @item.Content</p>
                @if (String.IsNullOrWhiteSpace(item.File) == false)
                {
                    var supportedTypes = new[] { "jpg", "png" };
                    var fileExt = Path.GetExtension(item.File).Substring(1);
                    if (supportedTypes.Contains(fileExt))
                    {
                        <br /><br />
                        <img src="~/UploadedFiles/@item.File" style="max-height:80px">
                    }
                    else
                    {
                        <br /><br />
                        <span>Attached file: <a href="~/Posts/DownloadFile?filePath=@item.File">@item.File</a></span>
                    }
                }
                <br /><br />
                <span class="text-info">Tag: @item.FormalCategories.FirstOrDefault().Name</span>
                <br />
                <span class="text-info">Type: @item.FormalCategories.FirstOrDefault().Type.Name</span>
                <hr />
                @item.AuthorId.FirstName @item.AuthorId.LastName
                <br />
                @item.PostTime
            </div>
            <div style="padding:4px">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, typeId = "formal" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, typeId = "formal" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, typeId = "formal" })
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
    $('#SelectedCategoryId').change(function () {
         var id = $(this).val();
         var typeid = $('#SelectedTypeId').val();
            window.location.href = '@Url.Action("FormalPosts", "Posts")' + '?type=' + typeid + '&category=' +id;

    });
    $('#SelectedTypeId').change(function () {
            var id = $(this).val();
            window.location.href = '@Url.Action("FormalPosts", "Posts")' + '?type=' + id;

    });
        function ResetFilter() {
            window.location.href = '@Url.Action("FormalPosts", "Posts")';
        }

        function FillCategory() {
            var typeId = $('#SelectedTypeId').val();
            $.ajax({
                url: '/Posts/FillCategory',
                type: "GET",
                dataType: "JSON",
                data: { Type: typeId },
                success: function (categories) {
                    $("#SelectedCategoryId").html(""); // clear before appending new list
                    $.each(categories, function (i, category) {
                        $("#SelectedCategoryId").append(
                            $('<option></option>').val(category.Value).html(category.Text));
                    });
                    FilterPostsOnType();
                }
            });
        }

        function FilterPostsOnType() {
            var typeId = $('#SelectedTypeId').val();
            $.ajax({
                url: '/Posts/FilterPostsOnType',
                type: "GET",
                dataType: "JSON",
                data: { Type: typeId },
                success: function (data) {
                    $("#d1").html(""); // clear before appending new list
                    $.each(data, function (index, item) {

                        var $panelPrimary = $('<div id=panel-primary' + index + ' class="panel panel-primary"></div>'),
                            $panelHeading = $('<div class="panel-heading"></div>'),
                            $panelTitle = $('<h3 class="panel-title"></h3>'),
                            $panelBody = $('<div class="panel-body"></div>');

                        $('#d1').append($panelPrimary);
                        $('#panel-primary' + index).append([
                            $panelHeading
                                .append($panelTitle)
                                .text(item.Title),
                            $panelBody
                                .text(item.Content)
                                .append('<br /><br />')
                                .append('<span class=text-info>Tag: ' + item.FormalCategories[0].Name + '</span>')
                                .append('<br />')
                                .append('<span class=text-info>Type: ' + item.FormalCategories[0].Type.Name + '</span>')
                                .append('<hr>')
                                .append(item.AuthorId.FirstName + ' ' + item.AuthorId.LastName)
                                .append('<br />')
                                .append(item.PostTime)
                        ]);
                    });
                }
            });
        }

        function FilterPosts() {
            var catId = $('#SelectedCategoryId').val();
            $.ajax({
                url: '/Posts/FilterFormalPosts',
                type: "GET",
                dataType: "JSON",
                data: { Category: catId },
                success: function (data) {
                    $("#d1").html(""); // clear before appending new list
                    $.each(data, function (index, item) {

                        var $panelPrimary = $('<div id=panel-primary' + index + ' class="panel panel-primary"></div>'),
                            $panelHeading = $('<div class="panel-heading"></div>'),
                            $panelTitle = $('<h3 class="panel-title"></h3>'),
                            $panelBody = $('<div class="panel-body"></div>');

                        $('#d1').append($panelPrimary);
                        $('#panel-primary' + index).append([
                            $panelHeading
                                .append($panelTitle)
                                .text(item.Title),
                            $panelBody
                                .text(item.Content)
                                .append('<br /><br />')
                                .append('<span class=text-info>Tag: ' + item.FormalCategories[0].Name + '</span>')
                                .append('<br />')
                                .append('<span class=text-info>Type: ' + item.FormalCategories[0].Type.Name + '</span>')
                                .append('<hr>')
                                .append(item.AuthorId.FirstName + ' ' + item.AuthorId.LastName)
                                .append('<br />')
                                .append(item.PostTime)
                        ]);
                    });
                }
            });
        }

    </script>
}
