@*@model IEnumerable<scrum_and_xp.Models.InformalPost>*@
@model scrum_and_xp.ViewModels.InformalPostViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Informal</h2>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: new { type = "Informal" })
</p>

@Html.DropDownListFor(m => m.SelectedCategoryId, Model.InformalCategories, "Please select informal category", new { @class = "form-control"})

<br />
<a onclick="ResetFilter()" class="btn btn-primary btn-sm">Reset filter</a>
<br />
<br />

<div id="d1">
    @foreach (var item in Model.InformalPosts)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@item.Title</h3>
            </div>
            <div class="panel-body" style="overflow-wrap:break-word">
                @item.Content
                @if (String.IsNullOrWhiteSpace(item.File) == false)
                {
                    var supportedTypes = new[] { "jpg", "png" };
                    var fileExt = Path.GetExtension(item.File).Substring(1);
                    if (supportedTypes.Contains(fileExt))
                    {
                        <br /><br />
                        <img src="~/UploadedFiles/@item.File" style="max-height:200px">
                    }
                    else
                    {
                        <br /><br />
                        <span>Attached file: <a href="~/Posts/DownloadFile?filePath=@item.File">@item.File</a></span>
                    }
                }

                <br /><br />
                <span class="text-info">Tag: @item.InformalCategories.FirstOrDefault().Name</span>
                <hr />
                @item.AuthorId.FirstName @item.AuthorId.LastName
                <br />
                @item.PostTime

            </div>
            <div style="padding:4px">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, typeId = "informal" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, typeId = "informal" })
                    </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $('#SelectedCategoryId').change(function () {
            var id = $(this).val();
            window.location.href = '@Url.Action("InformalPosts", "Posts")' + '?category=' + id;
            
        });

        function ResetFilter() {
            window.location.href = '@Url.Action("InformalPosts", "Posts")';
        }

        function FilterPosts() {
            var catId = $('#SelectedCategoryId').val();
            $.ajax({
                url: '/Posts/FilterInformalPosts',
                type: "GET",
                dataType: "JSON",
                data: { Category: catId },
                success: function (data) {
                    $("#d1").html(""); // clear before appending new list
                    $.each(data, function (index, item) {

                        var $panelPrimary = $('<div id=panel-primary' + index + ' class="panel panel-primary"></div>'),
                            $panelHeading = $('<div class="panel-heading"></div>'),
                            $panelTitle = $('<h3 class="panel-title"></h3>'),
                            $panelBody = $('<div class="panel-body"></div>');

                        $('#d1').append($panelPrimary);
                        $('#panel-primary' + index).append([
                            $panelHeading
                                .append($panelTitle)
                                .text(item.Title),
                            $panelBody
                                .text(item.Content)
                                .append('<br /><br />')
                                .append('<span class=text-info>Tag: ' + item.InformalCategories[0].Name + '</span>')
                                .append('<hr>')
                                .append(item.AuthorId.FirstName + ' ' + item.AuthorId.LastName)
                                .append('<br />')
                                .append(item.PostTime)
                        ]);
                    });
                }
            });
        }

//$("#d1").append($("<p style='border-style: ridge; border-color: #cccccc; padding: 5px'>").append([
//    "Title: " + item.Title + '<br />',
//    "Content: " + item.Content + '<br />',
//    "Author: " + item.AuthorId.FirstName + " " + item.AuthorId.LastName + '<br />',
//    "Post time: " + item.PostTime
//]));

    </script>
}

